@import "config";

// logo

.logo {
  transition: $cubic-bezier;
  display: block;

  img {
    display: block;
    height: 3rem;
  }

  &:hover {
    transform: scale(1.1) rotate(5deg);
  }
}

// header

.header {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &__container {
    min-height: inherit;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(0.75);

    @include no-select;
    @include img-cover;
  }
}

.header__anchor {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  border: 1px solid $white;
  width: 1.25rem;
  height: 2rem;
  border-radius: 999rem;
  position: relative;
  transition: $trs;

  &:hover {
    opacity: 0.75;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 0.25rem;
    height: 0.25rem;
    background: $white;
    border-radius: 50%;
    margin: 0.5rem 0;
    animation: anchor $trs-long alternate infinite;
  }
}

@keyframes anchor {
  from {
    opacity: 0;
    transform: translate(-50%, 100%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.header__content {
  text-align: center;

  @include media-breakpoint-down(md) {
    margin: 8rem 0 6rem 0;
  }

  h1 {
    padding-bottom: 0.75rem;
  }
}

// nav

.nav {
  width: 100%;

  &.adaptive {
    @include media-breakpoint-down(md) {
      .nav__menu {
        flex-direction: column;
      }

      .nav__item {
        margin-left: 0 !important;
        text-align: center;

        &:not(:first-child) {
          margin-top: 0.5rem;
        }
      }

      .nav__link {
        font-size: 1.5em;
      }
    }
  }

  .logo {
    @include media-breakpoint-down(md) {
      img {
        margin: 0 auto;
      }

      margin-bottom: 3rem;
    }
  }

  &__menu {
    display: flex;
  }

  &_vertical {
    .nav__menu {
      display: block !important;
    }

    .nav__item {
      margin-left: 0 !important;

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }
}

.nav__item {
  &.active {
    .nav__link {
      color: $accent;
    }
  }

  & + & {
    margin-left: 2rem;
  }
}

.nav__link {
  color: $white;
  transition: $trs;

  &:hover {
    opacity: 0.75;
  }
}

// form control

.form-control + .form-control {
  margin-top: 1rem;
}

input.form-control,
textarea.form-control,
button.form-control,
.select__input {
  border-radius: $bdrs;
  color: $text;
  padding: 0.75rem 1rem;
  font-size: 0.9em;
  width: 100%;
  transition: $trs background;
}

input.form-control,
textarea.form-control,
.select__input {
  background: $gray-1;

  &::placeholder {
    color: inherit;
  }

  &:hover {
    background: $gray-1-dark;
  }
}

input.form-control {
  cursor: text;

  &[type="date"] {
    padding: calc(0.75rem - 2px);
  }
}

textarea.form-control {
  resize: none;
  min-height: 20rem;
}

button.form-control {
  cursor: pointer;
  background: $accent;

  @include hide-text(1);

  &.auto-width {
    width: auto;
  }

  &:hover {
    background: $accent-dark;
  }
}

.radio,
.checkbox {
  &__title {
    margin-bottom: 0.5rem;
  }

  &__item {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__item + &__label {
    display: inline-flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      align-items: flex-start;
      flex-direction: column;

      &::before {
        margin-right: 0;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }
    }

    @include no-select;
  }
}

.radio {
  &__item + &__label {
    &::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: 1px solid $gray-1;
      margin-right: 1rem;
      transition: $trs;
    }
  }

  // checked

  &__item:not(:disabled):checked + &__label::before {
    background: $gray-2;
  }
}

.checkbox {
  &__item + &__label {
    &::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: $bdrs / 2;
      background: $gray-2;
      margin-right: 1rem;
      transition: $trs;
    }

    &::after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: $bdrs / 2;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5392 0.192451C16.8566 0.475314 16.8888 0.966685 16.611 1.28996L5.92015 13.7344C5.78097 13.8964 5.5821 13.9924 5.37086 13.9996C5.15963 14.0067 4.95493 13.9244 4.80548 13.7722L0.223664 9.10553C-0.0745546 8.80179 -0.0745546 8.30933 0.223664 8.00559C0.521882 7.70185 1.00539 7.70185 1.30361 8.00559L5.30825 12.0844L15.4617 0.265618C15.7394 -0.0576547 16.2218 -0.0904127 16.5392 0.192451Z' fill='%2386C232'/%3E%3C/svg%3E%0A");
      margin-right: 1rem;
      transition: $trs;
      transform: translate(0.2rem, -0.2rem) scale(0.9);
      opacity: 0;

      @include media-breakpoint-down(sm) {
        transform: translate(0.2rem, -0.2rem) scale(0.9);
      }
    }
  }

  // checked

  &__item:not(:disabled):checked + &__label::before {
    background: $gray-1;
  }

  &__item:not(:disabled):checked + &__label::after {
    opacity: 1;
    transform: translate(0.2rem, -0.2rem) scale(1);

    @include media-breakpoint-down(sm) {
      transform: translate(0.2rem, 0.75rem) scale(0.9);
    }
  }
}

.select {
  position: relative;

  &.active {
    .select__dropdown {
      transform: translateY(calc((2rem + 0.9em) + 0.75rem - 1px)) !important;
      opacity: 1 !important;
      pointer-events: all;
    }

    .select__arrow {
      bottom: -1.25rem !important;
      opacity: 1 !important;
    }

    .select__icon {
      transform: scaleY(-1);
    }
  }

  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: calc(0.75rem - 3.5px) 1rem;
  }

  &__text {
    margin-right: 1rem;

    @include no-select;
    @include hide-text(1);
  }
}

.select__icon {
  transition: $trs;
  transition-delay: $cubic-bezier;

  svg {
    vertical-align: middle;

    path {
      fill: $text;
    }
  }
}

.select__dropdown {
  border-radius: $bdrs;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(calc((1rem + 0.9em) + 0.75rem - 1px));
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  z-index: 1;
  transition: $cubic-bezier;

  @supports (backdrop-filter: $blur) {
    backdrop-filter: $blur;
  }
}

.select__option {
  font-size: 0.9em;
  cursor: pointer;
  transition: $trs;

  @supports (backdrop-filter: $blur) {
    background: rgba($gray-1, 0.75);

    &:hover {
      background: rgba($gray-1-dark, 0.75);
    }

    &.active {
      background: rgba($accent, 0.75);

      &:hover {
        background: rgba($accent-dark, 0.75);
      }
    }
  }

  @supports not (backdrop-filter: $blur) {
    background: $gray-1;

    &:hover {
      background: $gray-1-dark;
    }

    &.active {
      background: $accent;

      &:hover {
        background: $accent-dark;
      }
    }
  }

  @include no-select;

  & + & {
    border-top: 1px solid $gray-2;
  }

  label {
    display: block;
    padding: calc(0.75rem - 3.5px) 1rem;
    cursor: pointer;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  input[type="radio"] {
    @include hide-input;
  }
}

.select__arrow {
  transition: $trs;
  transition-delay: $trs;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background: $gray-1;
  border-radius: $bdrs / 4;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  opacity: 0;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  transform: rotate(135deg);
}

// search section

#search {
  @include media-breakpoint-up(sm) {
    [class*="col-"]:first-child {
      margin-bottom: 1rem;
    }
  }

  @include media-breakpoint-down(sm) {
    [class*="col-"]:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

// slider

.swiper-wrapper {
  margin-bottom: 4rem;
}

.swiper-pagination {
  &-bullet {
    background: $gray-2;
    width: 0.75rem;
    height: 0.75rem;
    transition: $trs;

    &-active {
      background: $gray-1;
    }
  }
}

.card {
  border-radius: $bdrs;
  border: 1px solid transparent;
  transition: $trs border-color;

  &.active {
    border-color: $accent;
  }

  &__img {
    border-radius: $bdrs;
    height: 10rem !important;

    @include media-breakpoint-down(md) {
      height: 20rem !important;
    }

    @include no-select;
    @include img-cover;
  }

  &__body {
    padding: 1rem;
  }

  &__title {
    margin-bottom: 1rem;

    @include hide-text(2);
  }

  &__text {
    font-size: 0.75em;
    margin-bottom: 1rem;

    @include hide-text(4);
  }

  input[type="radio"],
  input[type="checkbox"] {
    @include hide-input;
  }

  &__link {
    font-size: 0.75em;
    color: $accent;

    label {
      cursor: pointer;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

// subscribe section

#subscribe {
  @include media-breakpoint-down(sm) {
    [class*="col-"]:first-child {
      margin-bottom: 1rem;
    }
  }
}

// algorithm booking section

.steps {
  border-radius: $bdrs;
  padding: 4rem 4rem 6rem 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $white;

  @include media-breakpoint-down(md) {
    padding: 2rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 2rem 0;
  }

  &__number {
    border-radius: 50%;
    border: 3px solid $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 5rem;
    height: 5rem;
    font-size: 2em;
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
    }

    @include no-select;
  }
}

.steps__item {
  display: flex;
  justify-content: center;
  align-items: center;

  &.left {
    align-self: flex-start;

    .steps__title {
      text-align: left;
      flex-grow: 1;
      padding-left: 2rem;

      @include media-breakpoint-down(sm) {
        text-align: center;
        padding-left: 0;
      }
    }
  }

  &.right {
    align-self: flex-end;
    flex-direction: row-reverse;

    .steps__title {
      flex-grow: 1;
      text-align: right;
      padding-right: 2rem;

      @include media-breakpoint-down(sm) {
        text-align: center;
        padding-right: 0;
      }
    }
  }

  & + & {
    margin-top: 2rem;
  }
}

// origin section

.origin {
  .section__title {
    text-align: center;
  }

  p + p {
    margin-top: 1rem;
  }
}

// footer

.footer {
  margin-top: 6rem;
  padding: 3rem 0;

  @include media-breakpoint-down(md) {
    [class*="col-"] + [class*="col-"] {
      margin-top: 1rem;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .tel {
    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }

  &__row {
    margin-top: 4rem;
  }
}

// tel

.tel {
  a {
    transition: opacity $trs;

    &:hover {
      opacity: 0.75;
    }
  }
}

// other pages

.another-page {
  &__header {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }

  h1 {
    padding-bottom: 4rem;
  }
}

// route

.route {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  transition: $cubic-bezier;

  &:hover {
    transform: scale(1.01);
    transition: $trs;

    .route__link {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__title {
    color: $text;

    @include hide-text(1);
  }

  &__text {
    text-align: right;
    color: rgba($text, 0.75);
    width: 50%;

    @include hide-text(1);
  }
}

.route__link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba($gray-2, 0.75);
  font-weight: 500;
  backdrop-filter: blur(0.5rem) saturate(180%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: $trs;
  opacity: 0;
  pointer-events: none;
}

.route__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid $gray-2;
  }

  &:nth-child(odd) {
    background: $gray-1;
  }

  &:nth-child(even) {
    background: $gray-1-dark;
  }
}

.routes {
  [class*="col-"]:not(:last-child) {
    .route {
      margin-bottom: 1rem;
    }
  }
}

// order section

.order__bill {
  .order__sum-text {
    padding-bottom: 2rem;
  }
}
